* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    font-size: 20px;
    margin: 0;
    background: #e8e3ce;
    color: #25221f;
}
header,
footer {
    background: #6b5d49;
    color: white;
    padding: 15px;
}
section,
aside {
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #4f473b;

}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}
a {
    text-decoration: none;
    color: rgb(216, 212, 212);
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    opacity: 0.85;
}